body {
  /* FF cannot understand this */
  //overflow-x: hidden;
  color: #46454a;
}

section {
    transition: all .2s ease-in-out;
}

.btn-main{
    min-width: 100%;
    height: 80px;
    vertical-align: middle;
    display: table-cell;
}

.btn-main-container p {
    width: 100%;
    text-align: center;
    margin-top:8px;
    display:table;
}

img {
    width: 100%;
    height: auto;
}

/* modal stuff */
.col-contact span{
    display:block;
    width: 100%;
    padding: 0 0 8px;
}
.col-contact h2{
    margin-bottom: 36px;
}
.col-contact p{
    padding: 4px 0 4px;
}
.col-contact .post-img-container{
    margin-bottom: 16px;
}
.post-heading{
    padding: 0;
    margin: 20px 0 10px;
}
.participants-container{
    display: flex;
    margin: 0 !important;
    padding-top: 14px
}
.contact-container{
    margin-left:15px;
}
#project-apply,
.contact-container,
.participant{
    background: #f1f1f1;
    padding: 12px 12px;
    border-bottom: 1px solid #ddd;
}
.participant{
    
}
/* end modal stuff */

.work .row {
    margin: 20px 0px;
}
.work-banner{
  height: 400px;
  width: 100%;
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}

.work-footer-contact ul li {
    list-style: none;
}

#feedbackButton {
    position: fixed;
    bottom: 20px;
    left: calc(100% - 240px);
}

.card {
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
}

.card-body {
    display: table-cell;
    vertical-align: bottom;
}

.btn-primary, hr.divider {
    background-color: #ff6f20;
    background-color: #faa41a;
}

.btn-info {
    background-color: #00a6e6;
}

.card-body a {
    font-size: 12px;
    text-decoration: none !important;
}

.card-body p {
    font-size: 13px;
    padding: 0;
}

.card-text {
    padding: 10px 10px;
}
.card-text p {
    margin: 0;   
}

small {
    border-bottom: 1px solid #f5f5f5;
    width:100%;
}

li.list-group-item[aria-expanded=true] {
    background: #f5f5f5;
}

li.list-group-item:hover {
    background: #f5f5f5;
    cursor: pointer;
}

#feedbackButton span, #feedbackButton {
    transition: all .25s ease-in-out;
}

#feedbackButton span {
    opacity: 0; 
    width: 0px;
    right:-200px;
    position:relative;
}

#feedbackButton:hover span {
    display: inline;
    opacity: 1;
    width: 500px;
    right:0px;
}

#feedbackButton {
    width:100px;
    height:60px;
    opacity:.5;
    margin-right:-2000px;
    left: 90%;

}

#feedbackButton:hover {
    width: 300px;
    height: 60px;
    opacity:.98;
    left: calc(100% - 250px);
}

.col-lg-12.work-footer-apply a {
    width: 100%;
}

.work h4, .work h5 {
    color: #6c757d;
}

.work h2 {
    padding: 10px 12px;
}



.col-lg-2.work-share.text-muted {
    display: table;
}

.col-lg-2.work-share.text-muted > div {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}

.collapse.show div {
    font-size: 14px;
    opacity:1;
}

.collapse div {
    transition: all .25s ease-in-out;
}

.list-group-item[aria-expanded=true] h6 {
    border-bottom: 6px solid orange;
    padding-bottom: 6px;
    border-radius: 3px;
}

.list-group-item h6{
    transition: all .21s ease-in-out;
}

/* custom-forms.css */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  transition: 0.2s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main, #mainNav, #formToggler , #page-top {
  transition: margin-left .2s;
  padding: 16px;
}

.front #main, .front #mainNav, .front #formToggler , #page-top.front  {
  padding: 0px;
}

.btn-form {
    margin: 20px 0px 0px 0px;
    width: 100%;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#portfolio .col-lg-4.col-sm-6 {
    border: 2px solid #fff;
}


/* sidenav open */
.open {
    margin-left: 400px;
}
.sidenav.open {
    width: 400px;
    margin-left: 0;
}

div#ut-logo {
    background: url(../img/icons.png)!important;
    background-position: -28px -15px!important;
    height: 40px;
    background-size: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 265px;
    opacity: 0;
}

.navbar-scrolled div#ut-logo {
    opacity: 1;
}

#page-content {
    transition: all .2s ease-in-out;
    margin-top: -60px;
}

section.page-section.bg-primary {
    margin: -16px;
}

.btn-group.btn-group-md {
    width: 100%;
}

.modal-body{
  line-height: 1;
}
.modal-body p{
  margin: 0 0 8px;
}
.modal-student-description{
  font-weight: bold;
}
.diff-text{
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 8px;
}
.modal-image-container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow: hidden;
    margin-bottom: 16px;
}
.modal-image-container .modal-image{
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
#project-apply{
  display: none;
}
.main-icons-container a:hover i,
.main-icons-container a:focus i{
  color: #e94700 !important;
}
.main-icons-container a:hover,
.main-icons-container a:focus{
  text-decoration: none !important;
}

.tooltip_mark{

    position: relative;
    left: 22px;
    border-radius: 50px;
    background: #01a9f4;
    padding: 5px 12px;
    color: white;
}
.project-link{
  text-decoration: none !important;
  color: #FF5722; /* TODO: check this for better color */
}
.upper,
.lower{
  min-height: 145px;
}
.upper.uneven,
.lower.even{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e94700;
  font-weight: bold;
  color: #fff;
}


body {
    font-family: 'Rubik', sans-serif;
}

.news-big-logo-container {
    position: absolute;
    left: 0;
    top: -8%;
    z-index: 5500;
    height: 22%;
    max-height: 250px;
    color: #fff;
    background-color: #2c5696 !important;
    text-align: center;
    transform: rotate(-15deg);
    transform: skew(15deg, -15deg);
}

.news-big-logo-container img {
    transform: rotate(15deg);
    transform: skew(-15deg, 15deg);
    position: relative;
    top: 67px;
    top: 77px;
    top: 6vh;
    max-height: 80px;
    width: auto!important;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: static;
}

}
.dropdown-menu {
    border: none;
    background: transparent;
}
.dropdown-menu.show {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
.dropdown-item {
    display: inline-block;
    width: auto;
    color: #fff;
}
.navbar-scrolled .dropdown-item {
    color: #212529;
}

.navbar-scrolled .dropdown-item.active, .navbar-scrolled .dropdown-item:active {
    color: #fff;
}

.arrow {
    filter: invert(100%);
}

header.masthead {
    background: linear-gradient(to bottom,#4117b8 0,rgba(92, 66, 66, 0.8) 100%),url(../img/bg-masthead.jpg);
    background: linear-gradient(to bottom,#00000026 0,rgba(92, 66, 66, 0.8) 100%),url(../img/bg-masthead.jpg);
    //background: #F7971E;
    //background: -webkit-linear-gradient(to left, #FFD200, #F7971E);
    //background: linear-gradient(to left, #ffd2004a, #f7971e00),url(../img/bg-masthead.jpg);
    //background: #333;
}

.masthead i.fas.fa-4x {
    color: #2c5696;
}

.masthead a.col-md-4:hover i.fas.fa-4x {
    opacity: 1;
}

.masthead a.col-md-4 i.fas.fa-4x{
    opacity: .9;
    transition: all .25s ease-in-out;
}

.masthead a.col-md-4:hover i.fas.fa-4x {
    opacity: 1;
}

.masthead a.col-md-4 i.fas.fa-4x{
    opacity: .9;
    transition: all .25s ease-in-out;
}

.news-big-logo-container.bottom-ut {
    position: relative;
    left: 100px;
    top: 40%;
    z-index: 0!important;
    width: 2000px!important;
    height: 4000px!important;
    max-height: unset!important;
    background-color: #96432c!important;
    transform: rotate(-60deg);
}

.row.my-5.h-100.btn-main-container.main-icons-container {
    z-index:3000!important;
}

div#main {
    z-index: 4000;
}

section#why {
    z-index: 1000!important;
}

.modal-content {
    border-radius: 0;
}

.btn-primary {
    border-color: transparent;
}

#purpose .card-group {
    color: #e94700;
    text-shadow: -9px -7px 8px rgba(0,0,0,.05);
}

form {
    font-family: "Rubik";
    font-weight: 500;
    color: #424242;
}

#contact {
    background: #f5f5f5;
}

nav#mainNav {
    z-index: 5000;
    transition: .5s all ease-in-out;
    background: none;
}

.modal.fade.show {
    z-index: 6000;
}

.small {
    height: 80px;
    display: table-cell;
    align-content: top;
    vertical-align: top;
}

@media (max-width: 792px) {
    .masthead .arrow {
        display: none;
    }
    .masthead .col-md-4 {
        transform: translate(0,0)!important;
        padding: 0.5rem!important;
    }
    .h-100 {
        height: auto!important;
    }
}

@media (min-width: 1200px){
    header.masthead h1 {
        font-size: 7rem;
        font-family: "Rubik";
        font-weight: 600!important;
    }
    header.masthead h1 span {
        color: #2c5696;
        background: white;
        border-radius: 100%;
        padding: 1rem;
    }
}

.bg-primary {
    background-color: #03A9F4!important;
}

.intro-box {
    border-radius: 3rem;
}

.intro-box .col-md-4 {
    background: white;
}

.intro-box .col-md-4  a{
    color: #3d3d3d;
}

.card-group .card {
    border: none;
}

.card {
    width: 90%;
    margin: auto;
}

html {
  scroll-behavior: smooth;
}

.d-flex.h-100 {
    background: #333!important;
}

@media (max-width: 768px){
.container-fluid .col-md-4, .container-fluid .col-md-4 div {
    transform:skew(0);
}
}

.bg-rects {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
}
.bg-rects li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom: -160px;
  -webkit-animation: square 25s infinite;
  animation: square 25s infinite;
  transition-timing-function: linear;
}
.bg-rects li:nth-child(1) {
  left: 10%;
}
.bg-rects li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 17s;
          animation-duration: 17s;
}
.bg-rects li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
.bg-rects li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}
.bg-rects li:nth-child(5) {
  left: 70%;
}
.bg-rects li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}
.bg-rects li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
          animation-delay: 7s;
}
.bg-rects li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
          animation-delay: 15s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
}
.bg-rects li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-duration: 40s;
          animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}
.bg-rects li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
          animation-delay: 11s;
}
@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1700px) rotate(1600deg);
            transform: translateY(-1700px) rotate(1600deg);
  }
}
@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
    
    25% {
    -webkit-transform: translateY(-400px) rotate(-600deg);
            transform: translateY(-400px) rotate(-600deg);
  }
  100% {
    -webkit-transform: translateY(-1700px) rotate(1600deg);
            transform: translateY(-1700px) rotate(1600deg);
  }
}

.card, .btn {
    border-radius: 0!important;
}

@media (min-width: 992px){
header.masthead p {
    font-size: 0.95rem;
}
}

small.text-muted span {
    font-size: 18px;
    background: orange;
    padding: 6px 12px;
    border-radius: 50px;
    color: white;
}

i.fa {
    color: #2c5696;
}

label {
    margin-top: .5rem;
}

.mlr-8 {
    margin: 0 8rem;
}


/* Praktika */

.practice .card {
    border:none;
}

.flip-div{
	cursor: pointer;
}
/*.flip-div:hover .back,.flip-div.hover .back {*/
.flip-div.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
/*.flip-div:hover .front,.flip-div.hover .front {*/
.flip-div.hover .front {*/
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.flip-main{
    -webkit-transition: .5s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: .5s;
    transform-style: preserve-3d;
    position: relative;
}
.front{
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
    
}
.front .card, .back .card {
    min-height: 400px;
}
.back{
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
   /* -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);*/
}
.back ul li a{
	font-size: 18px;
}
.front,.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: .5s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: .5s;
    -moz-transform-style: preserve-3d;
    -o-transition: .5s;
    -o-transform-style: preserve-3d;
    -ms-transition: .5s;
    -ms-transform-style: preserve-3d;
    transition: .5s;
    transform-style: preserve-3d;
    
    width: 100%;
}


.practice .form-control-sm {

    height: calc(2.25rem + 2px);
    border-radius: 0;
}
/*
.toggleMenu  {
    min-width: 50%;
    margin: auto;
    max-width: 200px;
}*/

.card {
    background: transparent;
    border: none;
}

small {
    border: none;
}

/* tootaja/kuulutus */

.org-logo-container {
    margin-bottom: 20px;
}

.work-content p {
    margin-bottom: 0;
}

.work-aside ul {
    padding-inline-start: 1.2rem;
}

p.align-self-center {
    font-size: small;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik";
}


/* New styles */
/* PS! DELETE OLD STYLES */
/* -------------------------------------------------- */
.masthead .card {
  transform:rotate(30deg);
  overflow: hidden;
  max-width: 165px;
  min-width: 165px;
}

.masthead .card .card-body{
    transform: rotate(-30deg);
}

.masthead .card .card-footer {
    transform: rotate(-30deg);
    width: 140%;
    background: #e94700;
    text-align: center;
    height: 146px;
    margin: 8px 0px -50px 0px;
}

#masthead .card-footer a {
    display: block;
    padding: 0;
    height: 100%;
    width: 113%;
    margin: -13px 0px 0px -18px;
    padding-top: 11px;
}

.masthead .card .card-body span {
  display: block;
}
.masthead .card .card-body span:nth-child(1) {margin-left: 0;}
.masthead .card .card-body span:nth-child(2) {margin-left: -1rem;}
.masthead .card .card-body span:nth-child(3) {margin-left: -2rem;}
.masthead .card .card-body span:nth-child(4) {margin-left: -3rem;}
.masthead .card .card-body span:nth-child(5) {margin-left: -4rem;}
.masthead .card .card-body span:nth-child(6) {margin-left: -5rem;}
.masthead .card .card-body span:nth-child(7) {margin-left: -6rem;}
.masthead .card .card-body span:nth-child(8) {margin-left: -7rem;}
.masthead .card .card-body span:nth-child(9) {margin-left: -8rem;}
.masthead .card .card-body span:nth-child(10) {margin-left: -9rem;}

.masthead .card {
    background: #01499d;
    color: white;
    text-align:left;
}

.card.m-5.second {
    top: -90px;
    left: 60px;
}

.card.m-5.third {
    top: 120px;
    left: -60px;
}

@media (max-width:992px) {
  .masthead .card, .masthead .card .card-body, .masthead .card .card-footer {
    transform:rotate(0deg);
  }
  .masthead .card .card-body span {
    margin: auto!important;
    display:inline!important;
  }
  .masthead .second, .masthead .third {
    top: unset!important;
    left: unset!important;
  }
  .masthead .card-footer{ 
    width: 100%!important;
    height: unset;
  }
  nav#mainNav {
    background: #f1f1f1;
  }
}

h5.card-title.text-uppercase {
    color: #e94700;
    font-weight:600;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-left: 1rem;  
}
.third h5.card-title.text-uppercase {
    margin-left: 1rem;
    text-indent: 1rem;
}
p.card-text.text-muted {
    color:white!important;
    font-weight:100;
}

i.fa-4x.mb-4 {
    color:white!important;
    margin-top:20px;
    margin-left: 50%;
}

.masthead .card button.btn.btn-sm.btn-primary {
    background: transparent;
    font-weight: 600;
    font-size: 1rem;
    border-bottom: 2px solid white;
    width: 60%;
    color: white;
}
/* Title */
h2.mb-5 {
    color: #01499d;
    font-size: 5rem;
    font-weight: 100;
}
h2.mb-5 span {
    font-weight: 600;
}

header.masthead {
  background: #f1f1f1;
}

small {
    font-size: 18px;
    background: transparent;
    padding: 0;
    font-weight: 600;
    color: white;
}

.bg-container {
    background: linear-gradient(to bottom, #e94700de 0% , #e94700de 100% );
    position: absolute;
    width: 400px;
    height: 117vh;
    transform: rotate(30deg);
    z-index: 0;
    top: -92px;
    left: 30%;
    overflow: hidden;
}
.img-cont {
    background: linear-gradient(to bottom, #e94700de 0% , #e94700de 100% ), url(../img/taust.jpg);
    transform: rotate(-30deg);
    background-size: 3930%,200%;
    background-attachment: fixed,fixed;
    height: 246%;
    width: 499%;
    background-position: left;
    top: -1645px;
    lefT: -805px;
    margin-top: 829px;
    position: relative;
  }
#mainNav {
  background: inherit;
}
div#ut-logo {
    background-image: url(../img/logo-white.jpg);
    height: 70px;
    /*background-size: 100%;
    background-position: center;
    background-size: unset;
    background-repeat: no-repeat;*/
    width: 321px;
    opacity: 1;
    /*margin-left: -20px;
    margin-top: 2rem;*/
    transition: .5s all ease-in-out;
}


@media (min-width: 992px) {
  header.masthead {
      padding-top: 12rem;

  }
  
  #mainNav.navbar-scrolled {
    background-color: #f1f1f1;
  }

}

  #mainNav.navbar-scrolled #ut-logo{
    background-color: #f1f1f1;
    margin-top:0;
  }

body, .navbar {
  background: #f1f1f1;
}

i.fas.fa-user.fa-4x.mb-4 {
    background: url(../img/first.jpg) no-repeat;
    width: 62px;
    height: 76px;
    background-size: 132%;
}

i.fas.fa-users.fa-4x.mb-4 {
    background: url(../img/second.jpg) no-repeat;
    width: 80px;
    height: 76px;
    background-size: 100%;
}

i.fas.fa-city.fa-4x.mb-4 {
    background: url(../img/third.jpg) no-repeat;
    width: 86px;
    height: 76px;
    background-size: 100%;
}

.masthead i.fas:before {
    content:"";
}

a.nav-link {
    border-bottom: 2px solid #e94700;
    text-align: center!important;
    padding: 10px 14px!important;
    color: #000!important;
    margin: 0;
    font-family: "Rubik"!important;
    font-weight: 400!important;
    margin: 0 1rem;
}

a.nav-link.lang-switch {
  color: #01499d!important;
  border:none;
  font-weight: 600!important;
  text-align: right;
}

#scrollTop {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 40000;
}

#why h2 span,#unique h2 span {
    display: block;
    font-weight: 600;
}

#why h2,#unique h2 {
    font-size: 4rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #da3400;
}

div#why-vorgustik .col{
    background: #01499d;
}

div#why-konkurents .col{
    background: #e94700;
}

div#why-areng .col{
    background: #46454a;
}

#why h4 {
    font-weight: 100;
    font-size: 3rem;
    text-align: left;
}

#why img {
  max-width: 150px;
  display: block;
  margin-bottom: 2rem;
}

#why small, #unique small {
    max-width: 33.33%!important;
    display: block;
    margin: auto;
    text-align: center;
    font-weight: 100;
    color: #46454a;
    margin-bottom: 3rem;
    line-height: 2rem;
}

div#why {
    margin-top: 10rem;
}

/* activities */
#activities h3, #stats h3 {
  color: #01499d;
  font-weight: bold;
}
#activities h5, #stats h5 {
  color: #46454a;
  font-weight: 600;
}

hr.divider.my-5 {
    max-width: 30rem;
    border-width: 0.1rem;
    border-color: #e94700;
}
.unique-box {
  height: min-content;
}
.unique-box .col {
    /* height: max-content; */
    min-height: 390px;
}
.unique-box h3 {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
  text-align: left;
}

.unique-box img {
  width:100%;
}

.unique-box span {
  color: white;
  text-align: left;
  font-weight: 100;
}
#unique-kaedkulge .col {
  background: #01499d;
}
#unique-interditsiplinaarne .col {
  margin-top: 3rem;
  background: #e94700;
}
#unique-tulevikuoskused .col {
  margin-top: 6rem;
  background: #01499d;
}
#unique-paindlik .col {
  margin-top: 9rem;
  background: #46454a;
}
.unique-box .col {
    position: relative;
}
.unique-box .col span {
   position: absolute;
   bottom: 0;
   right: 0;
   padding: 1rem;
}

footer .contact-us {
  color: #01499d;
  line-height: 2.4rem;
  font-weight: 600;
  font-size: 2.1rem;
}
footer .contact-us-info {
  font-weight: 100;
}
footer a {
  color: #e94700;
  font-weight: 600;
}

footer .copyright {
  font-weight: 600;
}

footer .socialmedia i {
  margin-left:.5rem;
}

#scrollTop a.scrollDown.text-uppercase:before {
  content: "<";
  margin-right: 1rem;
  font-size: 29px;
  position: relative;
  top: 5px;
  font-weight: 100;
}

#scrollTop a.text-uppercase {
  font-weight:600;
  color:#3d3d3d;
  text-decoration: none;
  transform: rotate(270deg);
  transition: 1s all ease-in-out;
}

#scrollTop a.scrollBack.text-uppercase:after {
    content: ">";
    margin-left: 1rem;
    font-size: 29px;
    position: relative;
    top: 5px;
    font-weight: 100;
}
#scrollTop .scrollBack {
  opacity: 0;
}
#scrollTop.navbar-scrolled {
  bottom: 5px;
}
#scrollTop.navbar-scrolled .scrollBack {
  opacity:1;

}
#scrollTop.navbar-scrolled .scrollDown {
  opacity: 0;
}

#scrollTop {
    position: fixed;
    bottom: 125px;
    right: -110px;
    z-index: 40000;
    transform: rotate(270deg);
   transition: 1s all ease-in-out;
}

#stats i , #masthead i, #why i, #unique i {
    background: url(../img/icons.png);
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
}

#stats i#stat-praktikant {
    background-position: -25px -360px;
}

#stats i#stat-projekt {
    background-position: -110px -360px;
}

#stats i#stat-praktikapakkumine {
    background-position: -220px -360px;
}

#stats i#stat-organisatsioon {
    background-position: -314px -360px;
}
#masthead i {
    margin: 2rem 0 1rem 3rem;
}

#masthead .card {
    cursor: default;
}

#masthead i#masthead-yliopilane {
    background-position: 0px -100px;
}

#masthead i#masthead-projekt {
    background-position: -80px -100px;
}

#masthead i#masthead-praktikapakkumine {
    background-position: -180px -100px;
}
#why i {
  height: 150px;
  width: 130px;
  margin: 0;
}
#why i#why--vorgustik {
  background-position: -26px -215px;
}
#why i#why--konkurents {
  background-position: -302px -215px;
}
#why i#why--areng {
  background-position: -168px -215px;
}
#unique i {
  height: 130px;
  width: 210px;
  margin: 0px;
  display: block;
}
#unique i.unique-arrow {
  background-position: -24px -476px;
}

body.practice .card-body{
  padding:0;
}

#about img {
  filter: saturate(0);
  max-width: 200px;
}

.toggleMenu {
    display: block;
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.5rem;
    border-bottom: 2px solid;
    padding: 0!important;
    padding-bottom: 1rem!important;
    color: #01499d!important;
    transition: .25s all ease-in-out;
    max-width: 200px;
}

.toggleMenu:hover {
  cursor: pointer;
  opacity: .7;
}

body.practice .page-section h5,
body.practiceoffers .page-section h5,
body.project .page-section h5{
  color: #01499d;
  font-size:1.5rem;
}

section h1 {
    font-size: 4.5rem;
    color: #e94700;
}

.back {
    outline: 1.8rem solid #e94700;
    background: #e94700;
    color: white;
    max-height: 350px;
    //overflow: auto;
}

.page-section {
    padding-bottom: 2rem;
}

i.arrow-front {
  background-position: 100px -200px;
}

.practice section .card i {
    background: url(../img/icons.png);
    height: 32px;
    width: 120px;
    display: block;
    margin: auto;
    margin-left: 0px;
    position: absolute;
    bottom: 0;
}

i.arrow-front {
    background-position: -32px -593px!important;
}
/* Raise it to same level as flipped card */
.front i.arrow-front {
    bottom: 2.4rem!important;
}

.back i.arrow-front {
    filter: brightness(10);
}

.back .links a {
    color: #01499d;
    text-decoration: none !important;
    font-weight: 600;
    display: block;
    transition: .25s all ease-in-out;
}

.back .links a:hover {
    opacity: 0.7;
    color: white;
}

.front .card-body {
  overflow: auto;
  max-height: 150px;
}

.back .card {
    min-height: calc(400px - 2.4rem);
}

.links {
    position: absolute;
    bottom: calc(0px + 2.4rem);
}

.back .card-body {
    max-height: 250px!important;
    overflow: auto;
}

body.project .card {
    background: white;
  min-height: 350px;
  //outline: 1rem solid white;
}

body.project .card h6 {
  color: #00489d;
}

body.project .card .card-footer {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 -15px;
    position: absolute;
    bottom: 0;
    width:96%;
}

body.practiceoffers .col-lg-2.work-banner-crop {
    /*padding-bottom: 80px!important;
    overflow: hidden;
    height: 0;*/
}

p {
    font-size: .9rem;
}

b,strong {
  font-weight: bold;
}

body.practiceoffers .apply a {
    border-bottom: 2px solid;
    width: 100%;
    display: block;
}

body.practiceoffers hr {
  border-top: 2px solid #00489d;
}

body.project .modal .nav-pills .nav-link.active, body.project .modal .nav-pills .show>.nav-link {
    color: #fff!important;
    background-color: #ffffff!important;
    font-weight: 600!important;
    border-bottom: 2px solid #01499d!important;
    border-radius: 0!important;
    color: #01499d!important;
    background: url(../img/icons.png);
    background-position: 100px -200px;
}

body.project .modal a.nav-link {
    border-bottom: 2px solid #e94700!important;
    text-align: center!important;
    padding: 10px 14px!important;
    color: #666565!important;
    margin: 0!important;
    font-family: "Rubik"!important;
    font-weight: 400!important;
    color: #e94700!important;
    font-weight: 600!important;
  border-radius: 0!important;
}

body.project .modal a.nav-link {
    border-bottom: 2px solid #c1c1c1!important;
    text-align: center!important;
    padding: 10px 14px!important;
    color: #b3b3b3!important;
    margin: 0!important;
    font-weight: 400!important;
    margin: 0!important;
    font-weight: 500!important;
}

input#project_pdf {
    display: block;
}

input[type=button] {
    color: #e94700;
    background-color: none;
    border: none;
    border-bottom: #e94700 2px solid;
    font-weight: 600;
    font-family: "Rubik"!important;
}

@media (min-width: 1200px)
.container {
    max-width: 1350px;
}
}

body.practice .modal label {
    font-weight: 300!important;
    color: #000!important;
}

body.practice .modal img#profileImg {
    max-width: 225px;
}

#seminar-modal .modal-body {
  max-height: 300px;
  overflow: auto;
}

#seminar-modal .event-modal {
  box-shadow: 0px 5px 10px #ccc;
  padding: 1.5rem 0.5rem;
}

#seminar-modal .modal-body a {
    display: block;
    text-decoration: none;
}

#seminar-modal .modal-body span.event-date {
    position: absolute;
    font-size: 50px;
    right: 30px;
    font-weight: bolder;
    opacity: .5;
    color: #232225;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper .btn {
  border: 2px solid #00489d;
  color: #00489d;
  background-color: white;
  padding: 8px 20px;
  font-size: 0.9rem;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.upload-btn-wrapper:hover .btn {
    color: orange;
    border: 2px solid orange;
}

.modal-body .form-control {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    background: #EEEEEE;
}

.modal-body label {
    text-transform: uppercase;
    font-weight: 300;
}

@media (min-width: 1200px) {
  .container {
      max-width: 1350px;
  }
}
@media (max-width: 992px) {
  #masthead .card-body {
    text-align: center!important;
  }
  #masthead i {
    margin: 1rem auto;
  }

  #masthead h5.card-title.text-uppercase {
    margin: 1rem auto;
  }

  #masthead .third h5.card-title.text-uppercase {
    margin: auto;
    text-indent: 0;
  }
  #masthead .card-footer a {
    width: 132%;
    margin: -13px 0px 0px -20px;
  }
  #masthead .main-stats {
    display: block!important;
    position: relative;
    top: 10px;
  }
  #masthead .card.m-5 {
    margin: 1rem!important;
  }
  
  #why h4 {
    font-size: 2rem;
  } 
}
@media (max-width: 768px) {
  #why small, #unique small {
      max-width: 100%!important;
  }
  
  #unique-paindlik .col, #unique-tulevikuoskused .col,
  #unique-interditsiplinaarne .col{
      margin-top: 1rem;
  }

}

@media (max-width: 830px) {
  .scrollUp  {
    display: none;
  }

}

.alert {
  border-radius: 0;
}


.cropper-bg {
    background-image: none!important;
}

.dropzone .dz-preview.dz-image-preview {
    background: transparent;
    margin: 0;
}

.dropzone {
    min-height: 210px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border: none;
    background: #eeeeee;
    padding: 20px 20px;
    border-bottom: 1px solid #ddd;
}

.dropzone .dz-preview .dz-image {
  border-radius: 0;
  margin: auto;
  width: 100%;
  margin-bottom: 1rem;
  height: auto;
}

.dropzone {
    min-height: 210px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border: none;
    background: #eeeeee;
    border-bottom: 1px solid #ced4da;
    padding: 20px 20px;
}

.dz-default.dz-message {
    height: 170px;
    display: table-cell;
    vertical-align: middle;
}
.alert-dismissible .close {
  padding: 0.55rem 1.25rem;
}

.btn {
  font-family: "Rubik";
}

.custom-control.custom-checkbox {
  text-align: center;

}
.custom-control.custom-checkbox label.custom-control-label {
  padding-top: 5px;
}

.modal #submit-all {
  width: 100%;
}
.cropper-overlay {
  position : fixed;
  left : 0;
  right: 0;
  top : 0;
  bottom : 0;
  z-index : 99999;
  background : #000;
}
.btn-cropper-overlay {
  position : absolute;
  width : 100px;
  left : calc(50% - 50px);
  bottom : 50px;
  z-index : 99999;
}

@media (max-width: 1200px) {
    i.unique-arrow {
        background-size: 150%;
        background-position: 300px 100px!important;
        height: 60px;
    }
}

@media (max-width: 992px) {
    i.unique-arrow {
        background-size: 484px;
        background-position: 452px 156px!important;
        height: 100px!important;
    }
    .unique-box .col.p-3 {
        min-height: 350px;
    }
    #unique-tulevikuoskused .col{
        margin-top: 0rem;
    }

    #unique-paindlik .col{
        margin-top: 2rem;
    }

}

@media (max-width: 768px) {
    i.unique-arrow {
        background-size: 484px;
        background-position: 420px 156px!important;
        height: 100px;
    }
    .unique-box .col.p-3 {
        min-height: inherit;
      margin-top:1rem!important;
    }
    .unique-box .col span {
      position: inherit;
      padding: 0;
    }

  #why h2 span, #unique h2 span, h1 {
    font-size: 10vw!important;
  }

}


a.page-link {
    background: transparent;
    border: none;
    font-family: "Rubik";
    font-weight: 600;
    color: #00489d!important;
}

.page-item.active .page-link {
    color: #ff5622!important;
    background: none;
}


a.page-link[aria-label=Next]:after {
    content: " ";
    background: url(../img/icons.png);
    height: 35px;
    width: 22px;
    display: block;
    margin: auto;
    margin-left: 14px;
    position: absolute;
    background-position: -166px 51px;
    top: 1px;
}

a.page-link[aria-label=Next] span {
    display: none;
}


a.page-link[aria-label=Previous]:after {
    content: " ";
    background: url(../img/icons.png);
    height: 35px;
    width: 22px;
    display: block;
    margin: auto;
    margin-left: -34px;
    position: absolute;
    background-position: -152px 50px;
    top: 1px;
}

a.page-link[aria-label=Previous] span {
    display: none;
}

a.page-link[aria-label=Previous]:hover,
a.page-link[aria-label=Next]:hover {
  background: none;
  border: none;
}

a.page-link[aria-label=Previous]:hover:after,
a.page-link[aria-label=Next]:hover:after {
  transform: scale(1.1);
}

.carousel-item {
    margin-top: 2rem;
}


#validated .bg-container {
    top: -488px;
    left: 48%;
}

#validated section.page-section {
    padding: 3rem 0;
}
#validated header {
    height: 62vh;
}

a.nav-link.lang-switch {
  display: none;
}

.navbar-light .navbar-toggler {
  border: none;
}

.practice .front p, .practice .back p {
    margin: 0;
}

.practiceoffers .col-lg-12.practiceoffer:first-child {
    border: none;
}

.practiceoffers .col-lg-12.practiceoffer {
    border-top: 2px solid #01499d;
    padding: 30px 0;
}


@media (max-width: 410px) {
    div#ut-logo {
        width: 230px;
        background-size: 184% auto!important;
    }
}

footer .socialmedia a{
  color:#46454a!important;
  transition: .25s all ease-in-out;
}

footer .socialmedia a:hover {
  opacity: .7;
  color: #e94700!important;
}


div#viewModal h5, div#viewModal h2 {
    text-transform: uppercase;
    font-size: 1rem;
    padding: 6px 12px;
    margin-left: -12px;
    font-weight: 300;
    margin-bottom: 0;
}

div#viewModal h2 {
 font-weight:600!important;
 font-size: 1.25rem!important;
}

div#viewModal .row div[class*="post-"] {
    background: #f1f1f1;
    padding: 12px 12px;
    border-bottom: 1px solid #ddd;
    min-height: 80px;
}

div#viewModal .post-img-container {
    width: 100%;
}

div#viewModal .post-deadline {
    min-height: 40px!important;
}

@media (max-width: 1200px) and (min-width:992px) {
  i.unique-arrow {
      background-size: 151%!important;
      background-position: 297px 103px!important;
      height: 71px!important;
  }
}

@media (max-width:992px) {
    .work-date-added {
        display: none;
    }

    .work-banner-crop {
        display: none;
    }

    .practiceoffers .col-lg-12.practiceoffer {
      border:none;
    }
}

.practiceoffers .page-section {
    padding-bottom: 0rem;
}

.navbar-collapse a.nav-link{
  transition: 1s all ease-in-out;
}

.navbar-collapse.collapse.show a.nav-link {
    width: 140px;
    margin: auto!important;
}

i.front-arrow.text-right {
    background: url(../img/icons-extra.png);
    height: 23px;
    width: 100px;
    display: block;
    background-position: -35px -1411px;
    background-size: 454px;
    float: right;
}

a:not([href]):not([tabindex]) {
  color: #FF5722;
}

.practice section .back .card i.arrow-front {
    background: url(../img/icons-extra.png);
    background-position: 39px -1498px;
    background-size: 422px;
    height: 21px;
}
.form-control:focus {
    background-color: #cedcec;
    border: 1px solid #cedcec;
}
.form-control {
    transition: .25s all ease-in-out;
}

@media (max-width: 768px) {
  .bg-container {
    top: 298px;
    left: -45px;
  }
}

@media (max-width: 580px) {
  .bg-container {
    top: 374px;
    left: -264px;
  }
}


@media (max-width: 320px) {
  .bg-container {
    top: 374px;
    left: -264px;
  }
}

button.btn {
    background: none;
    border: none;
    border-bottom: 2px solid;
    text-transform: uppercase;
    font-weight: 600!important;
}

.btn-secondary {
    color: #46454a;
}
.btn-primary {
    color: #e94700;
}


#specifyOther {
  display:none;
}

#project_submission a.btn.btn-lg.btn-primary {
    color: white;
    margin-top: -5px;
    font-family: "Rubik";
    font-size: 1.5rem;
    font-weight: 100;
}
